:root {
  --accent-color: #332208;
  --secondary-color: #c5ac2d;
  --body-text: #1b1818;
  --white-bg: #fefefe;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Condensed', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--body-text);
  background-color: var(--white-bg);
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}

.header {
  background-color: var(--accent-color);
}

.header__container {
  height: 100px;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-bg);
}

.container {
  min-width: 320px;
  max-width: 1400px;
  padding: 0 100px;
  margin: 0 auto;
}

.section {
  margin-bottom: 100px;
}

/* ! HEADER */

.header {
  margin-bottom: 52px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list {
  text-transform: uppercase;
  display: flex;
  gap: 30px;
}

.menu__link {
  position: relative;
}

.menu__link::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--white-bg);
  transition: width 300ms;
}

.menu__link:hover::after,
.menu__link:focus::after {
  width: 100%;
}

.header__btn {
  display: none;
}

/* ! MOBILE-MENU */

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  background-color: var(--accent-color);
  color: var(--white-bg);
  transform: translateX(-100%);
  transition: transform 400ms ease-in-out;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu {
  font-size: 18px;
  line-height: 21px;
  padding: 100px 30px 30px 30px;
}

.mobile-menu__close {
  position: absolute;
  top: 35px;
  right: 20px;
}

.mobile-menu__list {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-menu__link {
  transition: color 300ms;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus,
.mobile-menu__link:active {
  color: var(--secondary-color);
}

/* ! rent */

.rent__inner {
  display: flex;
}
.rent__content {
  text-align: center;
  width: 600px;
}
.rent__title {
  font-family: 'Fira Sans', serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  padding-top: 89px;
  margin-bottom: 20px;
}
.rent__subtitle {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 65px;
}

.rent__btn {
  margin-bottom: 105px;
}
.rent__list {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.rent__item {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0px 20px;
  overflow: auto;
  cursor: pointer;
  transition: transform 300ms;
}
.rent__item:hover {
  transform: scale(125%);
}
.rent__item-img {
  margin: 0 auto;
  margin-bottom: 12px;
}

.rent__slider-conditions-box {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.rent__slider {
  text-align: center;
  flex-grow: 1;
}

.rent__slider-text {
  font-family: 'Fira Sans', serif;
  font-weight: 500;
}
.rent__links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.rent__links-link {
  position: relative;
}

.rent__links-link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -5px;
  background-color: var(--body-text);
}

.rent .slick-dots {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}

.rent .slick-dots li {
  width: 8px;
  height: 8px;
  background-color: var(--body-text);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 300ms;
}

.rent .slick-dots li.slick-active {
  transform: scale(2);
}

.rent .slick-dots button {
  font-size: 0;
}

/* ! conditions */

.conditions__container {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.conditions__content {
  max-width: 300px;
}

.conditions__title {
  margin-bottom: 30px;
}

.title {
  font-family: 'Fira Sans', serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.conditions__text {
  margin-bottom: 20px;
}

.conditions__text:last-of-type {
  margin-bottom: 40px;
}

.conditions__list {
  display: flex;
  gap: 50px;
  counter-reset: conditions-counter;
}

.conditions__item {
  position: relative;
  counter-increment: conditions-counter;
  text-align: center;
  width: 250px;
  height: 350px;
  padding: 115px 35px 20px;
  border: 1px solid var(--accent-color);
  overflow: auto;
}

.conditions__item::before {
  content: '0' counter(conditions-counter);
  position: absolute;
  font-family: 'Fira Sans', serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 115px;
  opacity: 5%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.conditions__item-title {
  font-family: 'Fira Sans', serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 35px;
}

/* ! ADVANTAGES */

.advantages__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages__title {
  margin-bottom: 20px;
}

.advantages__list {
  margin-right: 43px;
}

.advantages__item {
  text-align: right;
  position: relative;
}

.advantages__item::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  background-color: var(--body-text);
  border-radius: 50%;
}

.advantages__item:not(:last-child) {
  margin-bottom: 27px;
}

.advantages__item:nth-child(2),
.advantages__item:nth-child(6) {
  margin-right: 47px;
}

.advantages__item:nth-child(3),
.advantages__item:nth-child(5) {
  margin-right: 99px;
}

.advantages__item:nth-child(4) {
  margin-right: 145px;
}

.advantages__right {
  text-align: right;
  margin-left: 33px;
}

.advantages__text {
  max-width: 267px;
  margin-bottom: 30px;
}

.advantages__btn {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.advantages__btn:hover .advantages__btn-svg,
.advantages__btn:focus .advantages__btn-svg,
.advantages__btn:active .advantages__btn-svg {
  stroke: var(--secondary-color);
}

.advantages__btn-svg {
  position: absolute;
  left: 15px;
  stroke: var(--white-bg);
  transition: stroke 300ms;
}

/* ! REVIEWS */

.reviews {
  background-color: var(--accent-color);
}

.reviews__container {
  color: var(--white-bg);
  padding: 100px 100px;
}

.reviews__title {
  margin-bottom: 70px;
}

.reviews__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 30px;
  margin: 0 -15px;
}

.reviws__item {
  width: 270px;
  height: 300px;
  text-align: center;
  border: 1px solid var(--secondary-color);
  padding: 45px 30px 0 30px;
  overflow: auto;
  margin: 0 15px;
}

.reviws__item-title {
  margin-bottom: 45px;
}

.reviews .slick-dots {
  display: flex;
  gap: 10px;
}

.reviews .slick-dots li {
  width: 8px;
  height: 8px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 300ms;
}

.reviews .slick-dots li.slick-active {
  transform: scale(2);
}

.reviews .slick-dots button {
  font-size: 0;
}

/* ! QUESTIONS */

.questions__inner {
  display: flex;
  align-items: center;
  gap: 90px;
}
.questions__content-title {
  margin-bottom: 5px;
}
.questions__content-text {
  margin-bottom: 30px;
}
.questions__form-item {
  position: relative;
  margin-bottom: 20px;
}
.questions__form-item:last-of-type {
  margin-bottom: 50px;
}
.questions__form-label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: block;
  transition: top 300ms;
  cursor: text;
}
.questions__form-input {
  width: 100%;
  font-family: 'Roboto Condensed', serif;
  font-size: 0;
  line-height: 19px;
  color: var(--body-text);
  padding: 20px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: font-size 300ms, border-bottom 300ms;
}

.questions__form-input:focus,
.questions__form-input:not(:placeholder-shown) {
  font-size: 16px;
  border-bottom: 1px solid var(--secondary-color);
}

.questions__form-input:focus + .questions__form-label,
.questions__form-input:not(:placeholder-shown) + .questions__form-label {
  top: 5px;
}

.questions__form-input:invalid:not(:placeholder-shown) {
  border-bottom: 1px solid red;
}

/* ! FOOTER */

.footer {
  background-color: var(--accent-color);
}

.footer__container {
  font-size: 18px;
  line-height: 21px;
  min-height: 200px;
  color: var(--white-bg);
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 21px;
  padding-top: 75px;
}
.btn {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', serif;
  font-size: 16px;
  line-height: 19px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  background-color: var(--secondary-color);
  color: var(--white-bg);
  transition: 300ms ease-in-out;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--white-bg);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.social-media__img {
  transition: transform 300ms;
}
.social-media__link:hover .social-media__img {
  transform: scale(1.2);
}

/* ! MEDIA */

@media only screen and (max-width: 1399px) {
  .conditions__content {
    text-align: center;
  }
  .conditions__container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .reviews__title {
    text-align: center;
  }
  .questions__inner {
    flex-direction: column;
    text-align: center;
  }
  .rent__inner {
    align-items: center;
    flex-direction: column;
  }
  .rent__content {
    margin-bottom: 50px;
  }
  .rent__slider-text {
    margin-bottom: 30px;
  }
  .advantages__title {
    text-align: center;
  }
  .advantages__img {
    width: 500px;
    height: auto;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 17px;
  }
}

@media only screen and (max-width: 1100px) {
  .footer .menu {
    display: none;
  }
  .social-media {
    width: auto;
    order: 2;
  }
  .footer .phone {
    order: 3;
  }
  .footer .btn {
    order: 1;
  }
  .advantages__img {
    width: 400px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .section {
    margin-bottom: 50px;
  }
  .header .menu {
    display: none;
  }
  .header__btn {
    display: block;
  }
  .conditions__list {
    flex-direction: column;
  }
  .conditions__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages__container {
    flex-direction: column;
  }
  .advantages__img {
    order: 1;
    margin-bottom: 30px;
  }
  .advantages__list {
    order: 2;
    margin: 0;
    margin-bottom: 50px;
  }
  .advantages__item:nth-child(n) {
    text-align: center;
    margin-right: 0;
  }
  .advantages__item::after {
    margin: 0;
    left: -50px;
  }
  .advantages__right {
    text-align: center;
    order: 3;
    margin: 0;
  }
  .advantages__btn {
    margin: 0 auto;
  }
  .advantages__img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer__top {
    flex-direction: column;
    padding: 50px 0;
    gap: 40px;
  }
}

@media only screen and (max-width: 650px) {
  .reviews__list > *:nth-child(n + 5) {
    display: none;
  }
  .questions__img {
    width: 100%;
    height: auto;
  }
  .rent__content {
    width: 100%;
    margin-bottom: 50px;
  }
  .rent__list {
    gap: 25px;
  }
  .rent__slider-conditions-box {
    width: 100%;
  }
  .rent__slider-img {
    width: 100%;
    height: auto;
    position: relative;
  }
  .rent__title {
    font-size: 38px;
    line-height: 48px;
  }
  .rent__subtitle {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 50px;
  }
  .rent__btn {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .rent__list {
    flex-direction: column;
    align-items: center;
  }
  .rent__links {
    flex-direction: column;
    align-items: center;
  }
  .rent .slick-dots li {
    width: 6px;
    height: 6px;
  }
}
