:root {
  --accent-color: #332208;
  --secondary-color: #c5ac2d;
  --body-text: #1b1818;
  --white-bg: #fefefe;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--body-text);
  background-color: var(--white-bg);
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}

.header__container {
  height: 100px;
  font-size: 18px;
  line-height: 21px;
  background-color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-bg);
}

.container {
  min-width: 320px;
  max-width: 1400px;
  padding: 0 100px;
  margin: 0 auto;
}

/* ! HEADER */

.header {
  margin-bottom: 52px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list {
  text-transform: uppercase;
  display: flex;
  gap: 30px;
}

.menu__link {
  position: relative;
}

.menu__link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--white-bg);
  transition: width 300ms;
}

.menu__link:hover::after,
.menu__link:focus::after {
  width: 100%;
}

.header__btn {
  display: none;
}

/* ! MOBILE-MENU */

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  background-color: var(--accent-color);
  color: var(--white-bg);
  transform: translateX(-100%);
  transition: transform 400ms ease-in-out;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu {
  font-size: 18px;
  line-height: 21px;
  padding: 100px 30px 30px 30px;
}

.mobile-menu__close {
  position: absolute;
  top: 35px;
  right: 20px;
}

.mobile-menu__list {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-menu__link {
  transition: color 300ms;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus,
.mobile-menu__link:active {
  color: var(--secondary-color);
}

/* ! conditions */

.section {
  margin-bottom: 300px;
}

.conditions__container {
  display: flex;
  justify-content: space-between;
}

.conditions__content {
  max-width: 300px;
}

.conditions__title {
  margin-bottom: 30px;
}

.title {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.conditions__text {
  margin-bottom: 20px;
}

.conditions__text:last-of-type {
  margin-bottom: 40px;
}

.conditions__list {
  display: flex;
  gap: 50px;
  counter-reset: conditions-counter;
}

.conditions__item {
  position: relative;
  counter-increment: conditions-counter;
  text-align: center;
  width: 250px;
  height: 350px;
  padding: 115px 35px 20px;
  border: 1px solid var(--accent-color);
  overflow: auto;
}

.conditions__item::before {
  content: "0" counter(conditions-counter);
  position: absolute;
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 115px;
  opacity: 5%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.conditions__item-title {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 35px;
}

.conditions__item-text {
}

/* ! FOOTER */

.footer__container {
  font-size: 18px;
  line-height: 21px;
  min-height: 200px;
  background-color: var(--accent-color);
  color: var(--white-bg);
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 21px;
  padding-top: 75px;
}
.btn {
  text-transform: uppercase;
  font-family: "Roboto Condensed", serif;
  font-size: 16px;
  line-height: 19px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  background-color: var(--secondary-color);
  color: var(--white-bg);
  transition: 300ms ease-in-out;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--white-bg);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.social-media__img {
  transition: transform 300ms;
}
.social-media__link:hover .social-media__img {
  transform: scale(1.2);
}

@media only screen and (max-width: 1100px) {
  .footer .menu {
    display: none;
  }
  .social-media {
    width: auto;
    order: 2;
  }
  .footer .phone {
    order: 3;
  }
  .footer .btn {
    order: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .header .menu {
    display: none;
  }
  .header__btn {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
  .footer__top {
    flex-direction: column;
    padding: 50px 0;
    gap: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 0 25px;
  }
}
